set surround
set multiple-cursors
set argtextobj
set NERDTree
set exchange
set multiple-cursors

set visualbell
set noerrorbells

:map \r <Action>(ReformatCode)
:map \p <Action>(ReformatWithPrettierAction)
:map \d <Action>(Debug)
:map gb <Action>(GotoImplementation)

map <C-n> <A-n>
map g<C-n> g<A-n>
map <C-p> <A-p>
map <C-x> <A-x>
