prSections:
  - title: Today
    filters: author:@me updated:>={{ nowModify "0s" }}
    layout:
      author:
        hidden: true
  - title: My PRs
    filters: is:open author:@me draft:false
    layout:
      author:
        hidden: true
  - title: Drafts
    filters: is:open author:@me draft:true
    layout:
      author:
        hidden: true
  - title: Merged
    filters: is:merged author:@me sort:updated
    limit: 10
    layout:
      author:
        hidden: true

issuesSections:
  - title: Assigned to me
    filters: is:open assignee:@me
  - title: Authored by me
    filters: is:open author:@me
  - title: Platform Core
    filters: is:open project:classtinginc/26
  - title: AI Writing
    filters: is:open repo:classtinginc/ai-writing
  - title: Minerva API
    filters: is:open repo:classtinginc/minerva-api
  - title: AI Web
    filters: is:open repo:classtinginc/ai-web
  - title: GenAI Service
    filters: is:open repo:classtinginc/generative-ai-service

defaults:
  preview:
    open: false
    width: 100
  prsLimit: 20
  issuesLimit: 20
  view: prs
  refetchIntervalMinutes: 5

keybindings:
  prs:
    - key: T
      command: gh enhance -R {{.RepoName}} {{.PrNumber}}
    - key: N
      command: >
        wezterm cli spawn --new-window -- nu -c 'gh notify'
    - key: d
      command: >
        wezterm cli spawn --cwd {{.RepoPath}} --new-window -- nu -c 'gh pr checkout {{.PrNumber}} -f; nvim +DiffviewFileHistory'
  issues:
    - key: e
      command: >
        wezterm cli spawn --cwd ~/Workspace/organization --new-window -- nu -c 'gh issue edit {{.IssueNumber}}'
    - key: n
      command: >
        wezterm cli spawn --new-window -- nu -c 'let repo = (input "Enter repository (e.g., owner/repo): "); gh issue create --repo $repo'
    - key: N
      command: >
        wezterm cli spawn --new-window -- nu -c 'gh notify'

repoPaths:
  classtinginc/aidt: ~/Workspace/aidt
  classtinginc/organization: ~/Workspace/organization
  classtinginc/classroom-service: ~/Workspace/classroom-service
  classtinginc/frontend: ~/Workspace/frontend
  classtinginc/account-service: ~/Workspace/account-service
  classtinginc/ai-writing: ~/Workspace/ai-writing
  classtinginc/minerva-api: ~/Workspace/minerva-api
  classtinginc/ai-web: ~/Workspace/ai-web
  classtinginc/generative-ai-service: ~/Workspace/generative-ai-service
